<!-- <app-navbar></app-navbar> -->




<!--<body class="row col-12 ">-->
<!--<div class="container mt-3 bg-success  ">-->
  <!-- ======= Services Section ======= -->
<!-- <div class="body">
  <section id="services" class="services  embed-responsive ">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="/courses">ENGINEERING AND R&D</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
           <mat-icon >arrow_forward_ios</mat-icon>-->
          <!-- </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="/courses">NEXT CORE</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="/courses">INDUSTRIALIZED GLOBALSHORE</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="/courses">AUTOMOBILE</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="/courses">INTELLIGENT INDUSTRY POWERED BY DATA.</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="/courses">AÉRONAUTIQUE</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>

      </div> 

    </div>
  </section>-->
  <!-- End Services Section -->
  <!--    <section>-->
  <!--      <mat-grid-list cols="2" rowHeight="2:1">-->
  <!--        <mat-grid-tile>1</mat-grid-tile>-->
  <!--        <mat-grid-tile>2</mat-grid-tile>-->
  <!--        <mat-grid-tile>3</mat-grid-tile>-->
  <!--        <mat-grid-tile>4</mat-grid-tile>-->
  <!--      </mat-grid-list>-->
  <!--    </section>-->
<!--</div>-->
<!--</body>-->
<!-- </div> -->



<!-- 
<app-footer></app-footer> -->
<!-- <app-navbar></app-navbar>
​
​
​
​
<div class="new-categorie">
  <button mat-fab color="primary" (click)="onManageCategorie()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="body">
  <section id="services" class="services  embed-responsive ">
    <div class="container">
​
      <div class="row">
        <div class="box col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="/courses">ENGINEERING AND R&D</a></h4>
            <img src="https://t3.ftcdn.net/jpg/02/96/19/96/360_F_296199640_u386oRVazzYoeSp3XNhDdQpMpol2nsNX.jpg">
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
​
          </div>
​
​
        </div> -->
        
        <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="/courses">NEXT CORE</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>
​
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="/courses">INDUSTRIALIZED GLOBALSHORE</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
​
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="/courses">AUTOMOBILE</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
​
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="/courses">INTELLIGENT INDUSTRY POWERED BY DATA.</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>
​
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="/courses">AÉRONAUTIQUE</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div> -->
<!-- 
      </div>
​
    </div>
  </section>End Services Section -->
 
<!-- </div>
​
​
​
​
<app-footer></app-footer>  -->
<app-navbar></app-navbar>
<mat-sidenav #sideNav mode="side" opened>
  <div class="sid">
    <app-side-bar></app-side-bar>
  </div>
</mat-sidenav>
<div class="body">

  <div class="new-categorie">
    <button mat-fab color="primary" (click)="onManageCategorie()" class="fa-solid fa-gear" style="font-size:30px" *ngIf="role=='specialiste' || role=='admin'">
      <mat-icon>add</mat-icon>  
    </button>
  </div>
  <div class="cons" *ngIf="role=='consultant'">
    <br>
    <br>
    <br>
  </div>
  <section id="services" class="services  embed-responsive ">
    <div class="container">

      <div class="row">
        <div  *ngFor="let item of categories$ |async  ">
          <div class="card w-2000 taille">
            <img class="card-img-top" [src]="item.image" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title text-center font-weight-bold"><button class="router" (click)="getCoursesbyid(item.id)">{{item.titre}}</button></h2>
              <p class="card-text">{{item.description}}</p>
             
            </div>
          </div> 
          <!-- impo -->
          <!-- <div class="icon-box">

            <img  *ngIf="item.image" [src]="item.image">
            <button (click)="getCoursesbyid(item.id)">{{item.titre}}</button>
            <p *ngIf="item.description">{{item.description}}</p>
          </div> -->
          <!-- impo -->
        </div>
    <!-- {{getCoursesbyid(item.id)}} target="_blank" -->
      </div>
    </div>
    
  </section><!-- End Services Section -->
  <br>
<br>
<br>
<br>
<br>
</div>

<app-footer></app-footer>