<body>

  <div class="w3-show-inline-block">

    <a mat-fab color="primary" class="mt-4 ml-4  float-left" [routerLink]="'/Pole'">
      <mat-icon>arrow_back_ios</mat-icon>
    </a>

    <button mat-fab color="primary" class="mt-4 ml-4 float-right" (click)="open(popup)">
      <mat-icon>add</mat-icon>
    </button>

  </div>
  <section class="mini " id="work-process">
    <div class="mini-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3" *ngFor="let perimetre of perimetres">
            <!-- <div class="mini-box"> -->
              <div class="card w-2000" >
              <a [href]="'/Pole/Perimetre/SkillsMatrix?name='+ perimetre.name+'&pole='+pole">
                <i><img class="card-img-top" [src]="perimetre.icone" alt=""></i>
                <div class="card-body">
               <h2><div class="card-title text-center font-weight-bold">{{perimetre.name}}</div></h2>
               </div>
              </a>
              <!-- <button type="button" class="btn btn-outline-warning" id="warn" *ngIf="role!='consultant'"
                (click)="open2(edit,perimetre.name)">
                <i class="fa-solid fa-pen" id="icon"></i> </button>
              <button type="button" class="btn btn-danger" *ngIf="role!='consultant'"
                (click)="open2(delete,perimetre.name)">
                <i class="fa-solid fa-trash-can"></i>
              </button> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</body>
<footer>
  <app-footer></app-footer>
</footer>
<ng-template #popup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"></h4>

    <button type="button" class="close" aria-label="Close" id="cross" (click)="d('Cross click')">
      <i class="fas fa-times" id="crossC"></i>
    </button>
  </div>
  <div class="modal-body">

    <form class="form-group" [formGroup]="addForm">
      <label for="name">Name <span style="color:red">*</span></label>
      <input class="form-control" type="text" placeholder="Name ..." id="name" formControlName="name">
      <br>
      <input class="form-control" type="text" placeholder="Icone ..." id="name" formControlName="icone">
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" id="cancel" (click)="close()">
      Cancel
    </button>
    <button type="button" ngbAutofocus class="btn btn-outline-primary" id="add" (click)="addPerimetre()">
      Add
    </button>
  </div>
</ng-template>

<ng-template #delete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"></h4>

    <button type="button" class="close" aria-label="Close" id="cross" (click)="d('Cross click')">
      <i class="fas fa-times" id="crossC"></i>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete
      <span id="username">{{perimetreToDel}}</span> ?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-outline-dark" id="cancel" (click)="close()">
      Cancel
    </button>
    <button type="button" class="btn btn-outline-warning" id="delete" (click)="deletePerimetre()">
      Delete
    </button>
  </div>
</ng-template>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"></h4>

    <button type="button" class="close" aria-label="Close" id="cross" (click)="d('Cross click')">
      <i class="fas fa-times" id="crossC"></i>
    </button>
  </div>
  <div class="modal-body">

    <form class="form-group" [formGroup]="editForm">
      <label for="name">Name <span style="color:red">*</span></label>
      <input class="form-control" type="text" placeholder="Name ..." id="name" formControlName="name">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" id="cancel" (click)="close()">
      Cancel
    </button>
    <button type="button" ngbAutofocus class="btn btn-outline-primary" id="warn" (click)="editPerimetre()">
      Edit
    </button>
  </div>
</ng-template>
