<app-navbar></app-navbar>

<body style="overflow:-moz-hidden-unscrollable" class="mt-1">



<div class="w3-show-inline-block">


  <div class="new-matrix">
    <button mat-fab color="primary"  class="mt-4 ml-4  float-left" onclick="location.href='http://localhost:4200/poleKPI/perimetreKPI'">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button (click)="open()" mat-fab color="primary" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
    <mat-icon>add</mat-icon>
  </button>
  <h2 style="text-align: center;color: beige;">Presentation de l'Avancement des cours pour IBOM Under Body</h2>
  </div>
</div>

<div class="chart"><div id="container"></div></div>

<div class="export-class">
  <button mat-raised-button (click)="export()">Export</button>

  <button (click)="open()" mat-raised-button type="button"  data-bs-toggle="modal"  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<section class="mini " id="work-process">
  <div class="mini-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3" *ngFor="let path of data.paths">
          <a class="mini-box" href="http://localhost:4200/poleKPI/perimetreKPI/consultantKPI/dashbordKPI">
            <i><img class="imageresize" src="{{path.image}}"  alt=""></i>
            <strong>{{path.name}}</strong>
            <strong>{{path.dateDebut}}</strong>
            <mat-progress-bar mode="determinate" value="{{path.prog}}"></mat-progress-bar>
            <h4>{{path.prog}}%</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Integration path to Consultant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValuee" #basicForm="ngForm" >

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nom Consultant</label>
            <input type="text" formControlName="NomConsultant" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">image</label>
            <input type="url"  formControlName="image" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label class="form-label">Date Debut </label>
            <!-- formControlName="ddebut" -->
            <input type="date"  class="form-control" >
            <!-- formControlName="dfin"  -->
            <label for="exampleInputPassword1" class="form-label">Date Fin</label>
            <input type="date" class="form-control" >
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button *ngIf="add" type="button"  (click)="postpath()" class="btn btn-primary">Add</button>
        <button *ngIf="update" type="button"  (click)="updatepath()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

</body>
<app-footer></app-footer>
