<div class="container">
  <a href="#" class="previous round">&#8249; </a>
  <!--<div *ngFor="let c of code">
    <p>{{c.code}}</p>
  </div>-->
  <div class="row justify-content-center">

    <div class="col-md-2 col-lg-2 col-xl-2 d-flex align-items-center ">

      <img src="assets/mypics/password.png" class="img-fluid" alt="Forgot password">
      <!-- <img src="assets/RegisterPic.png" class="img-fluid" alt="Sample image"> -->
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black border-0">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">

            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
              <p class="text-center h2 fw-bold mb-3 mx-1 mx-md-2 mt-2">Forgot your password ? </p>
              <div class="d-flex justify-content-center" *ngIf="loading==true">
                <div class="spinner-border spinner-border-sm text-info" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="alert alert-success" role="alert" *ngIf="done==true">
                <p class="mb-0">check your mailbox.</p>
              </div>
              <div class="alert alert-success" role="alert" *ngIf="err==true">
                <p class="mb-0">An error has occurred</p>
              </div>
              <br>
              <form class="mx-1 mx-md-4" [formGroup]="EmailForm">
                <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">

                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text" id="enveloppe2"><i id="enveloppe"
                            class="fa-solid fa-envelope"></i>
                        </div>
                      </div>
                      <input type="email" class="form-control" id="email" placeholder="Email" class="form-control"
                        value={{EmailForm.value.email}} formControlName="email">
                    </div>
                    <div *ngIf="EmailForm.get('email')?.invalid && EmailForm.get('email')?.touched "
                      style="color: red;">
                      <i class="fa-solid fa-triangle-exclamation"></i> Email required
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center mx-4 mb-3 mt-3 mb-lg-4">
                  <button type="button" class="btn btn-primary btn-block" id="btn" [ngbPopover]="popContent"
                    placement="right" triggers="mouseenter:mouseleave" aria-hidden="true"
                    popoverTitle="Change your password in three easy steps." (click)="sendRequest()">Get new
                    password</button>
                </div>

                <br>
                <ng-template #popContent>1. Enter your email address below.<br>
                  2. Our system will send you a temporary link<br>
                  3. Use the link to reset your password<br></ng-template>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
