<header>
  <app-navbar></app-navbar>
</header>

<body>

  <section class="mini " id="work-process">
    <div class="mini-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <a href="#" class="mini-box" routerLink="/Modulequiz/Responsablequiz/Matrixes">
              <i><img class="imageresize" src="assets/perimetre.jpg" alt=""></i>
              <strong>{{perimetre}}</strong>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

</body>
<footer>
  <app-footer></app-footer>
</footer>
