
<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
       
            <!--  Traffic  -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        
                        <div class="row">
                            <div class="col-lg-8">
                                
                                <div class="card-body">
                                    <div class="progress-box progress-1">
                                        <h4 class="por-title">Phases In progress</h4>
                                        <div class="por-txt">Phase 0 (40%)</div>
                                        <div class="progress mb-2" style="height: 5px;">
                                            <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="progress-box progress-2">
                                 <br>
                                        <div class="por-txt">Phase 1 (24%)</div>
                                        <div class="progress mb-2" style="height: 5px;">
                                            <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: 24%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                  
                                    
                                </div> <!-- /.card-body -->
                            </div>
                        </div> <!-- /.row -->
                        <div class="card-body"></div>
                    </div>
                </div><!-- /# column -->
            </div>
            <!--  /Traffic -->
            <div class="clearfix"></div>
           
          
         
</div>
<!-- /#right-panel -->
